# Ignore all files in the targets folder.
/build/
/targets/

# Ignore the build properties for the netX software.
/build.properties

# Ignore all compiled python modules.
*.pyc

# Ignore all backup files.
*~
